<form [formGroup]="bookForm" (ngSubmit)="submit()">
  <h2 mat-dialog-title>Add Book</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="form-first" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Title"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input
        matInput
        formControlName="author"
        placeholder="Author"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ISBN</mat-label>
      <input matInput formControlName="isbn" placeholder="ISBN (10 or 13 digits)"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Publication Year</mat-label>
      <input matInput formControlName="publicationYear" placeholder="Publication Year" type="number"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Genre</mat-label>
      <input matInput formControlName="genre" placeholder="Genre" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" placeholder="Description" />
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancel</button>
    <button
      mat-button
      color="primary"
      [mat-dialog-close]="true"
      cdkFocusInitial
      type="submit"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
